:root {
  --white: #FAF9F6;
  --red: #bf3131;
  --disabled-gray: #A9A9A9;
  --disabled-text: #ccc;
}

.audio-recording-button {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--white);
  border-radius: 15px;
  background-color: var(--red);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.audio-recording-button h1 {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s;
  font-size: 40px;
}

.audio-recording-button:hover {
  background-color: var(--white);
  border: 3px solid var(--red);
}

.audio-recording-button:hover h1 {
  color: var(--red);
}

.audio-recording-button.processing {
  background-color: var(--disabled-gray);
  border: 3px solid var(--disabled-text);
  cursor: not-allowed;
}

.audio-recording-button.processing h1 {
  color: var(--disabled-text);
}
