.head {
  background-color: #e2e0e0;
}

.logo-container {
  width: 325px;
  height: 80px;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-container h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
}

.get-help-now {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

.get-help-stuff {
  margin-top: 50px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.map-container {
  width: 70%;
  height: 450px;
  margin-right: 20px; 
  border: 1px solid black;
  border-radius: 10px;
}

.audio-container {
  width: 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.recording-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.eta-header {
  position: relative;
  margin-left: 5%; 
  margin-top: -80px;
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.steps-header {
  font-size: 35px;
  font-family: 'Montserrat, sans-serif';
  margin-left: 60px;
  transition: all 0.3s ease;
}

.steps-header.center {
  text-align: center;
  margin-left: 0;
}

.advice-and-chat {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.advice-and-chat.center {
  justify-content: center;
}

.advice-container {
  width: 600px;
  height: 500px;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 25px;
  margin-right: 20px;
}

.chatbox-container {
  flex-grow: 1;
  max-width: 600px;
  margin-left: 20px;
}